Lead qualfier.blueprint (1).json
{
    "name": "Lead qualfier",
    "flow": [
        {
            "id": 1,
            "module": "airtable:TriggerWatchRecords",
            "version": 3,
            "parameters": {
                "base": "appD2YRIR4Cxi1P5V",
                "table": "tbl7Lw7wMUPIvnzx9",
                "config": {
                    "labelField": "Company",
                    "triggerField": "Created On"
                },
                "formula": "{Qualification} = \"qualified\"",
                "maxRecords": 10,
                "__IMTCONN__": 9083707,
                "useColumnId": false
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "base": {
                            "label": "Lead Base"
                        },
                        "table": {
                            "label": "Lead Contacts"
                        },
                        "config": {
                            "nested": {
                                "labelField": {
                                    "label": "Company"
                                },
                                "triggerField": {
                                    "label": "Created On"
                                }
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "config",
                        "spec": [
                            {
                                "name": "triggerField",
                                "type": "select",
                                "label": "Trigger field",
                                "required": true
                            },
                            {
                                "name": "triggerField",
                                "type": "hidden"
                            },
                            {
                                "name": "labelField",
                                "type": "select",
                                "label": "Label field",
                                "required": true
                            }
                        ],
                        "type": "collection",
                        "label": "Trigger configuration"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "First Name",
                        "type": "text",
                        "label": "First Name"
                    },
                    {
                        "name": "Last Name",
                        "type": "text",
                        "label": "Last Name"
                    },
                    {
                        "name": "Email",
                        "type": "text",
                        "label": "Email"
                    },
                    {
                        "name": "Phone",
                        "type": "text",
                        "label": "Phone"
                    },
                    {
                        "name": "Company",
                        "type": "text",
                        "label": "Company"
                    },
                    {
                        "name": "Budget",
                        "type": "number",
                        "label": "Budget"
                    },
                    {
                        "name": "Notes",
                        "type": "text",
                        "label": "Notes",
                        "multiline": true
                    },
                    {
                        "name": "Created On",
                        "type": "date",
                        "label": "Created On"
                    },
                    {
                        "name": "Qualification",
                        "type": "text",
                        "label": "Qualification"
                    },
                    {
                        "name": "Message",
                        "type": "text",
                        "label": "Message"
                    },
                    {
                        "name": "Contacted On",
                        "time": false,
                        "type": "date",
                        "label": "Contacted On"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 3,
                            "module": "google-email:sendAnEmail",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 9687725
                            },
                            "mapper": {
                                "to": [
                                    "{{1.Email}}"
                                ],
                                "subject": "{{1.`First Name`}} Let's Talk About Your Goals!",
                                "bodyType": "collection",
                                "contents": [
                                    {
                                        "text": "Hey, {{1.`First Name`}},\nWe got your request or help with {{1.Company}} and I'd love to discuss your goals soon.. Please feel free to book a call here: https://calendly.com/omotolaisholaeleshin/intro-call",
                                        "image": {}
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "cc": {
                                            "mode": "chose"
                                        },
                                        "to": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "bcc": {
                                            "mode": "chose"
                                        },
                                        "from": {
                                            "mode": "chose"
                                        },
                                        "bodyType": {
                                            "label": "Collection of contents (text, images, etc.)"
                                        },
                                        "contents": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        },
                                        "signature": {
                                            "mode": "chose"
                                        },
                                        "attachments": {
                                            "mode": "chose"
                                        },
                                        "emailHeaders": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google-email"
                                            },
                                            "label": "My Gmail connection (omotolaisholaeleshin@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google-email",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "to",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address",
                                            "required": true,
                                            "validate": true
                                        },
                                        "type": "array",
                                        "label": "To",
                                        "required": true
                                    },
                                    {
                                        "name": "subject",
                                        "type": "text",
                                        "label": "Subject"
                                    },
                                    {
                                        "name": "bodyType",
                                        "type": "select",
                                        "label": "Body type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "rawHtml",
                                                "collection"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "attachments",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "filename",
                                                    "type": "filename",
                                                    "label": "File name",
                                                    "required": true,
                                                    "semantic": "file:name"
                                                },
                                                {
                                                    "name": "data",
                                                    "type": "buffer",
                                                    "label": "Data",
                                                    "required": true,
                                                    "semantic": "file:data"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Attachment"
                                        },
                                        "type": "array",
                                        "label": "Attachments"
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "From"
                                    },
                                    {
                                        "name": "cc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address"
                                        },
                                        "type": "array",
                                        "label": "CC recipients"
                                    },
                                    {
                                        "name": "bcc",
                                        "spec": {
                                            "name": "value",
                                            "type": "email",
                                            "label": "Recipient email address"
                                        },
                                        "type": "array",
                                        "label": "BCC recipients"
                                    },
                                    {
                                        "name": "emailHeaders",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "key",
                                                    "type": "text",
                                                    "label": "Key",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Email header"
                                        },
                                        "type": "array",
                                        "label": "Additional email headers"
                                    },
                                    {
                                        "name": "contents",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "text",
                                                    "type": "text",
                                                    "label": "Text"
                                                },
                                                {
                                                    "name": "image",
                                                    "spec": [
                                                        {
                                                            "name": "filename",
                                                            "type": "filename",
                                                            "label": "File name",
                                                            "semantic": "file:name"
                                                        },
                                                        {
                                                            "name": "data",
                                                            "type": "buffer",
                                                            "label": "Data",
                                                            "semantic": "file:data"
                                                        },
                                                        {
                                                            "name": "width",
                                                            "type": "uinteger",
                                                            "label": "Width"
                                                        },
                                                        {
                                                            "name": "height",
                                                            "type": "uinteger",
                                                            "label": "Height"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Image"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Content"
                                        },
                                        "type": "array",
                                        "label": "Body contents"
                                    },
                                    {
                                        "name": "signature",
                                        "type": "select",
                                        "label": "Signature content"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "airtable:ActionUpdateRecords",
                            "version": 3,
                            "parameters": {
                                "__IMTCONN__": 9083707
                            },
                            "mapper": {
                                "id": "{{1.id}}",
                                "base": "appD2YRIR4Cxi1P5V",
                                "table": "tbl7Lw7wMUPIvnzx9",
                                "record": {
                                    "fldd1PY7j9F0cWsig": "{{now}}"
                                },
                                "typecast": false,
                                "useColumnId": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": -150
                                },
                                "restore": {
                                    "expect": {
                                        "base": {
                                            "label": "Lead Base"
                                        },
                                        "table": {
                                            "label": "Lead Contacts"
                                        },
                                        "typecast": {
                                            "mode": "chose"
                                        },
                                        "useColumnId": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "airtable2"
                                            },
                                            "label": "My Airtable Token or Key connection"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:airtable3,airtable2",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "base",
                                        "type": "select",
                                        "label": "Base",
                                        "required": true
                                    },
                                    {
                                        "name": "typecast",
                                        "type": "boolean",
                                        "label": "Smart links",
                                        "required": true
                                    },
                                    {
                                        "name": "useColumnId",
                                        "type": "boolean",
                                        "label": "Use Column ID",
                                        "required": true
                                    },
                                    {
                                        "name": "table",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "Record ID",
                                        "required": true
                                    },
                                    {
                                        "name": "record",
                                        "spec": [
                                            {
                                                "name": "fldQ0BwYZCAUW1B6A",
                                                "type": "text",
                                                "label": "First Name"
                                            },
                                            {
                                                "name": "fld6vPpYYokKlo6xe",
                                                "type": "text",
                                                "label": "Last Name"
                                            },
                                            {
                                                "name": "fldbJSE68TBSgaxtj",
                                                "type": "text",
                                                "label": "Email"
                                            },
                                            {
                                                "name": "fldyttBe8m0HZAJdO",
                                                "type": "text",
                                                "label": "Phone"
                                            },
                                            {
                                                "name": "fld7bRC1r1FeuX0pN",
                                                "type": "text",
                                                "label": "Company"
                                            },
                                            {
                                                "name": "fldQ7X1UgvVFkN9JJ",
                                                "type": "number",
                                                "label": "Budget"
                                            },
                                            {
                                                "name": "fldyjPlKRgU2qn8Wq",
                                                "type": "text",
                                                "label": "Notes"
                                            },
                                            {
                                                "name": "fldd1PY7j9F0cWsig",
                                                "time": false,
                                                "type": "date",
                                                "label": "Contacted On"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Record"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "id",
                                        "type": "text",
                                        "label": "ID"
                                    },
                                    {
                                        "name": "createdTime",
                                        "type": "date",
                                        "label": "Created Time"
                                    },
                                    {
                                        "name": "First Name",
                                        "type": "text",
                                        "label": "First Name"
                                    },
                                    {
                                        "name": "Last Name",
                                        "type": "text",
                                        "label": "Last Name"
                                    },
                                    {
                                        "name": "Email",
                                        "type": "text",
                                        "label": "Email"
                                    },
                                    {
                                        "name": "Phone",
                                        "type": "text",
                                        "label": "Phone"
                                    },
                                    {
                                        "name": "Company",
                                        "type": "text",
                                        "label": "Company"
                                    },
                                    {
                                        "name": "Budget",
                                        "type": "number",
                                        "label": "Budget"
                                    },
                                    {
                                        "name": "Notes",
                                        "type": "text",
                                        "label": "Notes",
                                        "multiline": true
                                    },
                                    {
                                        "name": "Created On",
                                        "type": "date",
                                        "label": "Created On"
                                    },
                                    {
                                        "name": "Qualification",
                                        "type": "text",
                                        "label": "Qualification"
                                    },
                                    {
                                        "name": "Message",
                                        "type": "text",
                                        "label": "Message"
                                    },
                                    {
                                        "name": "Contacted On",
                                        "time": false,
                                        "type": "date",
                                        "label": "Contacted On"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "slack:CreateMessage",
                            "version": 4,
                            "parameters": {
                                "__IMTCONN__": 9701891
                            },
                            "mapper": {
                                "channelWType": "list",
                                "text": "New Lead Qualified:\n{{1.`First Name`}}\n{{1.Email}} from {{1.Company}} company\nThe Lead Has Received Confirmation Email with a Calendly booking Link.\nPlease Monitor For Scheduled Appointments",
                                "parse": false,
                                "mrkdwn": true,
                                "channelType": "public",
                                "channel": "C0BE9P1SW9Z"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 669,
                                    "y": 119
                                },
                                "restore": {
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "label": "My Slack (bot) connection (fooodbroll.slack.com - make)",
                                            "data": {
                                                "scoped": "true",
                                                "connection": "slack3"
                                            }
                                        }
                                    },
                                    "expect": {
                                        "channelWType": {
                                            "label": "Select from the list"
                                        },
                                        "reply_broadcast": {
                                            "mode": "chose"
                                        },
                                        "link_names": {
                                            "mode": "chose"
                                        },
                                        "parse": {
                                            "mode": "chose"
                                        },
                                        "mrkdwn": {
                                            "mode": "chose"
                                        },
                                        "unfurl_links": {
                                            "mode": "chose"
                                        },
                                        "unfurl_media": {
                                            "mode": "chose"
                                        },
                                        "channelType": {
                                            "label": "Public channel"
                                        },
                                        "channel": {
                                            "mode": "chose",
                                            "label": "marketing-portfolio"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:slack2,slack3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "channelWType",
                                        "type": "select",
                                        "label": "Enter a channel ID or name",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "manualy",
                                                "list"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    },
                                    {
                                        "name": "blocks",
                                        "type": "text",
                                        "label": "Blocks"
                                    },
                                    {
                                        "name": "thread_ts",
                                        "type": "text",
                                        "label": "Thread message ID (time stamp)"
                                    },
                                    {
                                        "name": "reply_broadcast",
                                        "type": "boolean",
                                        "label": "Reply broadcast"
                                    },
                                    {
                                        "name": "link_names",
                                        "type": "boolean",
                                        "label": "Link names"
                                    },
                                    {
                                        "name": "parse",
                                        "type": "boolean",
                                        "label": "Parse message text"
                                    },
                                    {
                                        "name": "mrkdwn",
                                        "type": "boolean",
                                        "label": "Use markdown"
                                    },
                                    {
                                        "name": "unfurl_links",
                                        "type": "boolean",
                                        "label": "Unfurl primarily text-based content"
                                    },
                                    {
                                        "name": "unfurl_media",
                                        "type": "boolean",
                                        "label": "Unfurl media content"
                                    },
                                    {
                                        "name": "icon_emoji",
                                        "type": "text",
                                        "label": "Icon emoji"
                                    },
                                    {
                                        "name": "icon_url",
                                        "type": "url",
                                        "label": "Icon url"
                                    },
                                    {
                                        "name": "username",
                                        "type": "text",
                                        "label": "User name"
                                    },
                                    {
                                        "name": "channelType",
                                        "type": "select",
                                        "label": "Channel type",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "public",
                                                "private",
                                                "im",
                                                "mpim"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "channel",
                                        "type": "select",
                                        "label": "Public channel",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}